<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [2]:
!pip install sqlalchemy==1.3.9

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlalchemy==1.3.9
  Using cached sqlalchemy-1.3.9-cp313-cp313-win_amd64.whl
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.43
    Uninstalling SQLAlchemy-2.0.43:
      Successfully uninstalled SQLAlchemy-2.0.43
Successfully installed sqlalchemy-1.3.9

WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
!pip install ipython-sql
!pip install ipython-sql prettytable

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\truon\appdata\roaming\python\python313\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\truon\appdata\roaming\python\python313\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython-sql) (9.1.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Using cached sqlalchemy-2.0.43-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: sqlparse in c:\users\truon\appdata\roaming\python\python313\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\truon\appdata\roaming\python\python313\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\truon\appdata\roaming\python\python313\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: ipython-pygments-lexers in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from stack_data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.2)
Using cached sqlalchemy-2.0.43-cp313-cp313-win_amd64.whl (2.1 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed sqlalchemy-2.0.43

WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: ipython-sql in c:\users\truon\appdata\roaming\python\python313\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\truon\appdata\roaming\python\python313\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython-sql) (9.1.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\truon\appdata\roaming\python\python313\site-packages (from ipython-sql) (2.0.43)
Requirement already satisfied: sqlparse in c:\users\truon\appdata\roaming\python\python313\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\truon\appdata\roaming\python\python313\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet>=1 in c:\users\truon\appdata\roaming\python\python313\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: ipython-pygments-lexers in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: executing in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from stack_data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\envs\learn_da\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.2)

WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)

In [4]:
%load_ext sql

In [5]:
import csv, sqlite3
import prettytable
prettytable.DEFAULT = 'DEFAULT'

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [6]:
!pip install -q pandas

WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)
WARNING: Ignoring invalid distribution ~andas (C:\Users\truon\AppData\Roaming\Python\Python313\site-packages)

In [7]:
%sql sqlite:///my_data1.db

In [8]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [9]:
#DROP THE TABLE IF EXISTS

%sql DROP TABLE IF EXISTS SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[]

In [10]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [11]:
%%sql
SELECT DISTINCT "Launch_Site" FROM SPACEXTABLE

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [12]:
%%sql
SELECT * FROM SPACEXTABLE
WHERE Launch_Site LIKE "CCA%" LIMIT 5

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [13]:
%%sql
SELECT Customer, SUM(PAYLOAD_MASS__KG_) FROM SPACEXTABLE
WHERE Customer = 'NASA (CRS)'

 * sqlite:///my_data1.db
Done.

[('NASA (CRS)', 45596)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [14]:
%%sql
SELECT Booster_Version, AVG(PAYLOAD_MASS__KG_)
FROM SPACEXTABLE
WHERE Booster_Version = 'F9 v1.1'

 * sqlite:///my_data1.db
Done.

[('F9 v1.1', 2928.4)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [15]:
%%sql
SELECT MIN(Date)
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success (ground pad)'

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [16]:
%%sql
SELECT Booster_Version
FROM SPACEXTABLE
WHERE Landing_Outcome = 'Success (drone ship)' 
  AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [17]:
%%sql
SELECT MISSION_OUTCOME, COUNT(MISSION_OUTCOME) AS COUNT 
FROM SPACEXTABLE 
GROUP BY MISSION_OUTCOME

 * sqlite:///my_data1.db
Done.

[('Failure (in flight)', 1),
 ('Success', 98),
 ('Success ', 1),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List all the booster_versions that have carried the maximum payload mass, using a subquery with a suitable aggregate function.

In [18]:
%%sql
SELECT Booster_Version
FROM SPACEXTABLE
WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [19]:
%%sql
SELECT Launch_Site,Booster_Version,Landing_Outcome, substr(Date,6,2) as Month, substr(Date,0,5) as Year
FROM SPACEXTABLE
WHERE substr(Date,0,5)='2015' AND Landing_Outcome = "Failure (drone ship)"

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40', 'F9 v1.1 B1012', 'Failure (drone ship)', '01', '2015'),
 ('CCAFS LC-40', 'F9 v1.1 B1015', 'Failure (drone ship)', '04', '2015')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [20]:
%%sql
SELECT
    Date,
    Landing_Outcome,
    COUNT(*) AS Count
FROM
    SPACEXTABLE
WHERE
    Date BETWEEN '2010-06-04' AND '2017-03-20'
GROUP BY
    Landing_Outcome
ORDER BY
    Count DESC;

 * sqlite:///my_data1.db
Done.

[('2012-05-22', 'No attempt', 10),
 ('2016-04-08', 'Success (drone ship)', 5),
 ('2015-01-10', 'Failure (drone ship)', 5),
 ('2015-12-22', 'Success (ground pad)', 3),
 ('2014-04-18', 'Controlled (ocean)', 3),
 ('2013-09-29', 'Uncontrolled (ocean)', 2),
 ('2010-06-04', 'Failure (parachute)', 2),
 ('2015-06-28', 'Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--
## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2024-07-10 | 1.1 |Anita Verma | Changed Version|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
-->

## <h3 align="center"> Â© IBM Corporation 2021. All rights reserved. <h3/>